/*******************************************************************************
*   Form
*******************************************************************************/
form 
{
	margin: 0em 0em 0em 0em;
}
form .button, form h2
{
	margin: 1em 0em 0em 0em;
}
form .input
{
	margin: 0.2em 0em 0em 0em;
}